@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-cal-sans: 'Cal Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-cal: var(--font-cal-sans);
  --font-mono: var(--font-geist-mono);
}

@utility site-containers {
  @apply container mx-auto px-4 md:px-25;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-x: hidden;
}